.row {
  text-align: center;
}

.card {
  display: inline-block;
  background-color: #eee;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.card.done {
  cursor: default;
}

.card.done:hover {
  cursor: default;
  box-shadow: none;
}

.card:hover {
  box-shadow: inset 0px 0px 0px 1px red;
  box-sizing: border-box;
}

.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.blue {
  background-color: blue;
}
.cyan {
  background-color: cyan;
}
.pink {
  background-color: pink;
}
.teal {
  background-color: teal;
}
.green {
  background-color: green;
}
.orange {
  background-color: orange;
}

.color-hidden {
  background-color: #eee;
}
